**.log

/gui_consoler/.vs/**

/gui_consoler/vai_gui_consoler/.vs/**

/gui_consoler/vai_gui_consoler/obj/**

/gui_consoler/vai_gui_consoler/bin/Debug/Logs/*

log_*

vai_gui_consoler.exe

vai_gui_consoler.pdb

*.lock

*.ide

*.ide-shm

*.ide-wal
