**.log

/gui_consoler/.vs/**

/gui_consoler/vai_gui_consoler/.vs/**

/gui_consoler/vai_gui_consoler/obj/**

/gui_consoler/vai_gui_consoler/bin/Debug/Logs/*

log_*

/gui_consoler/vai_gui_consoler/bin/Debug/*.exe

/gui_consoler/vai_gui_consoler/bin/Debug/*.pdb

*.lock

*.ide

*.ide-shm

*.ide-wal
